.splash-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  inset: 0;
}

.splash-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(2px);
}

.splash-bg span {
  position: absolute;
  inset: 0;
  z-index: 2;
  opacity: 0.95;
  background-color: hsl(222.2, 84%, 4.9%);
}

.splash-main {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px; /* Adjust as needed */
  height: 200px; /* Adjust as needed */
  transform: translate(-50%, -50%);
  overflow: hidden; /* Ensure the pseudo-element does not overflow */
  border-radius: 28px; /* Adjust for desired roundness */
}

.splash-main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative; /* Needed for the pseudo-element positioning */
  overflow: hidden;
}

.splash-main::before {
  content: "";
  position: absolute;
  top: -100%;
  left: -100%;
  width: 200%;
  height: 200%;
  z-index: 55;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0) 49%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 0) 51%
  );
  opacity: 0.5;
  animation: loadingEffect 3s linear infinite;
}

@keyframes loadingEffect {
  0% {
    transform: translateX(0) translateY(0);
  }
  100% {
    transform: translateX(100%) translateY(100%);
  }
}
